*{
    margin: 0;
    padding: 0;
    font-family: 'times new roman', sans-serif;
    box-sizing: border-box;
}
.margin {
    width: 100%;
    height: 100vh;
    background:rgb(141, 54, 120);
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator {
    background-color:rgb(153, 66, 155);
    padding: 30px;
    border-radius: 20px;
}
.calculator form input {
    border: 0;
    outline: 0;
    width: 70px;
    height: 70px;s
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.237),5px 5px 15px rgba(0, 0, 0, 0.2);
    background-color: transparent;
    font-size: 20px;
    color:bisque;
}
form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input {
    text-align: right;
    flex:1;z
    font-size: 50px;
    box-shadow: none;
}
form input.bar {
    width: 150px;
}